.section-left {
    width: 20%;
    height: 100%;
}

.section-right {
    width: 20%;
    height: 100%;
}

.section-center {
    width: 60%;
    height: 100%;
    overflow-y: scroll;
}

.sections {
    display: flex;
    height: 100%;
}